@charset "UTF-8";
/* CSS Document */
body {
	background-color: black;
}
/* Calculator Box */
.box {
	background-color: #58FFAE;
	height: 300px;
	width: 250px;
	border-radius: 10px;
	position: relative;
	top: 80px;
	left: 40%;
	border-top: 2px #42BF82 solid;
	border-left: 3.5px #42BF82 solid;
	border-right: 3.5px #4FE59D solid;
	border-bottom: 2px #4FE59D solid;
}

/* Display */
.display {
	background-color: #25BF27;
	width: 220px;
	position: relative;
	left: 15px;
	top: 20px;
	height: 40px;
	border-radius: 8px;
}
.display input {
	position: relative;
	left: 2px;
	top: 2px;
	height: 30px;
	width: 210px;
	color: #1AFF21;
	background-color: black;
	border-radius: 8px;
	border-color: #25BF27;
	font-size: 21px;
	text-align: right;
}

/* Calculator Buttons */
.keys {
	position: relative;
	top: 15px;
}
.button {
	width: 40px;
	height: 30px;
	border: none;
	border-radius: 8px;
	margin-left: 17px;
	cursor: pointer;
	border-top: 2px solid transparent;
}
.button.function{
	color: white;
	background-color: #2CE52F;
	border-bottom: black 2px solid;
	border-top: 2px #6f6f6f solid;
}
.button.operator{
	color: white;
	background-color: #0C400D;
	border-bottom: black 2px solid;
	border-top: 2px #6f6f6f solid;
}
.button.number{
	color: #31FF34;
	background-color: #197F1A;
	border-bottom: black 2px solid;
	border-top: 2px #6f6f6f solid;
}

/* Simulate Button Press */
.function:active {
	border-bottom: 2px #6f6f6f solid;
	border-top: black 2px solid;
}
.operator:active {
	border-bottom: 2px #6f6f6f solid;
	border-top: black 2px solid;
}
.number:active {
	border-bottom: 2px #6f6f6f solid;
	border-top: black 2px solid;
}